.cart-page-wrapper {
  .cart-hero {
    @include marginY(95px, 50px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .section-header {
    font-family: $futura;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 17px;
  }
  
  .items-count {
    opacity: 0.5;
    font-family: $mukta;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 17px;
  }
  
  .cart-table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
    
    .table-headlines {
      th {
        opacity: 0.5;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-transform: uppercase;
        text-align: left;
      }
    }
    
    .cart-item {
      td {
        padding-top: 45px;
        padding-bottom: 48px;
        text-align: left;
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
      
      .product-thumbnail{
        height: 220px;
        width: 220px;
  
        @include max-medium-screen{
          width: auto;
          height: auto;
        }
        img{
          max-width: 150px
        }
      }
      
      .product-name {
        a {
          font-family: $mukta;
          font-size: 24px;
          font-weight: 800;
          line-height: 20px;
          display: flex;
          flex-direction: column;
        
        }
  
        span {
          margin-top: 10px;
          font-family: $mukta;
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          text-transform: uppercase;
          display: block;
        }
      }
      
      .amount {
        font-family: $futura;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
      }
      
      .product-remove a i {
        @include square(16px);
        opacity: .5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 12px;
      }
      
      .product-select {
        align-items: center;
        
        .select2-container {
          width: 100% !important;
        }
      }
    }
    
    tfoot {
      th, td {
        text-align: left;
        vertical-align: bottom;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        padding-bottom: 8px;
      }
      
      th {
        text-transform: uppercase;
      }
      
      td[colspan] {
        opacity: 0.5;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        padding-top: 40px;
      }
    }
    
    
  }
  
  @include max-medium-screen {
    .cart-table tr td[data-title]:before {
      content: attr(data-title) ": ";
      font-size: 16px;
      font-weight: 600;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
    }
    .cart-table .cart-item td {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 18px;
      padding-bottom: 18px;
      
      &.product-quantity {
        @include paddingY(40px);
      }
      
      &.product-remove {
        border: none;
      }
    }
    thead {
      display: none;
    }
    .product-select {
      margin-right: 0;
    }
    
    .product-thumbnail img {
      max-width: 20%;
      margin: 0 auto;
      padding-top: 50px;
    }
    
    .product-remove {
      padding-bottom: 40px !important;
      
      .remove {
        padding-bottom: 50px;
        margin: 0 auto;
      }
    }
    
    .cart-table {
      width: 85%;
      margin: 0 auto;
      margin-top: 15px;
    }
    
    .cart-table .cart-item {
      border-width: 4px;
      
      &:last-of-type {
        border: none;
      }
    }
  }
  
  .go-to-checkout-btn {
    font-family: $mukta;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 58px auto 65px;
    min-width: 32.3%;
    
  }
}

@media screen and (max-width: 991.98px) {
  .cart-page-wrapper .cart-table,
  .cart-page-wrapper .cart-table tbody,
  .cart-page-wrapper .cart-table tfoot,
  .cart-page-wrapper .cart-table tr {
    display: block;
  }
  
  .cart-page-wrapper .cart-table .cart-item .product-name > a {
    width: auto;
  }
  
  .cart-page-wrapper .cart-table tfoot {
    border-width: 8px;
  }
  
  .cart-page-wrapper .cart-table tfoot tr {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 8px;
  }
  
  .cart-page-wrapper .cart-table tfoot tr > * {
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .cart-page-wrapper .cart-table tfoot tr td {
    justify-content: flex-end;
  }
  
  .cart-page-wrapper .cart-table tfoot tr td.cart-visible {
    display: none !important;
  }
  .cart-page-wrapper .cart-table tfoot tr td[data-title="Shipping"]:before {
    content: none;
  }
  .cart-page-wrapper #payment.woocommerce-cart-payment ul li .payment_box {
    margin-left: 30px;
  }
}


@include max-small-screen {
  .cart-page-wrapper .subtotal-checkout h2 {
    font-size: 22px;
  }
  .cart-page-wrapper .subtotal-checkout h2 .total-price {
    font-size: 22px;
  }
  .cart-page-wrapper .subtotal-checkout .checkout-btn {
    margin-left: 23px;
    padding: 6px 30px;
    font-size: 15px;
  }
  .cart-page-wrapper .subtotal-checkout {
    height: 107px;
  }
  .cart-page-wrapper .product-thumbnail img {
    max-width: 30%;
  }
}

@include max-x-small-screen {
  .cart-page-wrapper .cart-table .cart-item .product-name * {
    font-size: 15px !important;
  }
  .cart-page-wrapper .product-thumbnail img {
    padding-top: 30px;
  }
  .cart-page-wrapper .subtotal-checkout {
    height: 150px;
    flex-direction: column;
  }
  .cart-page-wrapper .subtotal-checkout .checkout-btn {
    margin-left: 0;
    margin-top: 10px;
  }
  
}
