.checkout-page-wrapper {
  padding-top: 77px;
  
  .page-title {
    font-family: $futura;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
  }
  
  .order-summary-title {
    font-family: $futura;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
  }
  
  .checkout-wizard-wrapper {
    padding-right: 152px;
    
    .information-step {
      display: none;
      
      &.active {
        display: block;
      }
    }
    
    .wizard-nav {
      display: flex;
      flex-flow: wrap;
      margin-top: 11px;
      
      .wizard-item {
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        opacity: .5;
        margin-right: 8px;
        cursor: pointer;
        
        &.valid {
          @extend .oz99-secondary-color;
        }
        &.invalid{
          @extend .oz99-red-color;
        }
  
        &.active {
          opacity: 1;
        }
      }
    }
    
    .express-checkout {
      margin-top: 42px;
      border: 1px solid #cfcfcf;
      padding: 0 23px;
      display: flex;
      border-radius: 5px;
      position: relative;
      justify-content: center;
      min-height: 120px;
      
      .the-headline {
        font-family: $mukta;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-transform: uppercase;
        background: #fafafa;
        padding: 10px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .the-item {
        margin-right: 17px;
        display: inline-block;
        
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    
    .separator {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 40px;
      
      .text {
        flex: 1 0 auto;
        @include paddingX(3px);
        font-family: $mukta;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        opacity: .5;
        text-transform: uppercase;
      }
      
      &:before, &:after {
        content: '';
        height: 1px;
        width: 50%;
        flex: 1 1 50%;
        background: #cfcfcf;
      }
    }
    
    .checkout-subtitle {
      font-family: $mukta;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
    }
    
    .contact-info-subtitle {
      margin-top: 22px;
    }
    
    .input-wrapper {
      margin-top: 16px;
      display: inline-flex;
      width: 100%;
      flex-direction: column;
      
      &.w-50-l {
        width: calc(50% - 8px);
        margin-right: 16px;
        
        @include max-x-small-screen {
          width: 100%;
          margin-right: 0;
          float: none;
        }
      }
      
      &.w-50-r {
        width: calc(50% - 8px);
        @include max-x-small-screen {
          width: 100%;
        }
      }
      
      label {
        opacity: 0.5;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        margin-bottom: 6px;
      }
      
      input {
        min-height: 56px;
        border-radius: 6px;
        border: 1px solid #a5a6a5;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        @include paddingX(16px);
        background: transparent;
        color: $black;
        
        &::placeholder {
          color: #a5a6a5;
          font-family: $mukta;
          font-size: 16px;
          font-weight: 600;
          line-height: 17px;
        }
      }
    }
    
    
    .shipping-subtitle {
      margin-top: 49px;
    }
    
    .select2-hidden-accessible {
      display: none;
    }
    
    
    .select2 {
      @include paddingX(0);
      border-radius: 6px;
      border: 1px solid #a5a6a5;
      font-family: Mukta, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      background: transparent;
      cursor: pointer;
      
      .select2-selection {
        width: 100%;
        background: transparent;
      }
      .selection {
        width: 100%;
      }
      .select2-selection.select2-selection--single {
        display: flex;
        justify-content: space-between;
        min-height: 56px;
        align-items: center;
        border: none;
        
        span.select2-selection__arrow {
          color: #a5a5a4;
          height: 100%;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          .select2-separator {
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-right: 2px solid;
          }
        }
      }
    }
    
    
    .custom-checkbox {
      /* The checkbox-container */
      .checkbox-container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-top: 13px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: $black;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        
      }
      
      
      /* Hide the browser's default checkbox */
      .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid $oz-secondary;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark .after {
        display: none;
        position: absolute;
        font-size: 12px;
      }
      
      /* Show the checkmark when checked */
      .checkbox-container input:checked ~ .checkmark .after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .checkbox-container .checkmark .after {
        left: 50%;
        top: 50%;
        color: $oz-secondary;
        transform: translate(-50%, -50%);
      }
    }
    
    
    .custom-checkbox_2 {
      border-radius: 6px;
      border: 1px solid #a5a6a5;
      padding-left: 33px;
      background: transparent;
      margin-top: 16px;
      /* The checkbox-container */
      .checkbox-container {
        min-height: 80px;
        position: relative;
        padding-left: 33px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: $black;
        font-family: $mukta;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .cards-image {
          width: 120px;
          margin-right: 32px;
          position: absolute;
        }
      }
      
      /* Hide the browser's default checkbox */
      .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $oz-secondary;
        transform: translateY(-50%);
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark .after {
        display: none;
        position: absolute;
        font-size: 12px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $oz-secondary;
      }
      
      /* Show the checkmark when checked */
      .checkbox-container input:checked ~ .checkmark .after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .checkbox-container .checkmark .after {
        left: 50%;
        top: 50%;
        color: $oz-secondary;
        transform: translate(-50%, -50%);
      }
      
      .contains-image {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-top: 26px;
        padding-bottom: 26px;
        padding-right: 32px;
        
        > *{
          z-index: -1;
        }
        .label-text{
          position: relative;
        }
        .text-body {
          position: relative;
          margin-top: 5px;
          word-break: break-all;
        }
        
        img {
          width: 120px;
          margin-right: 32px;
          position: absolute;
          right: 0;
          top: 50%;
          height: auto;
          max-height: 80px;
          transform: translateY(-50%) !important;
        }
      }
    }
    
    .toggleable-slide-up-body {
      padding-bottom: 32px;
      padding-right: 32px;
    }
    
    .text-body {
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      color: #a5a6a5;
      line-height: 17px;
    }
    
    .shipping-subtitle {
      margin-top: 50px;
    }
    
  }
  
  .order-summary {
    
    .order-item {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      
      .product-img {
        width: 72px;
        height: 72px;
        border: 1px solid #d3d3d3;
        padding: 10px 20px;
        border-radius: 5px;
        margin-right: 24px;
        position: relative;
        
        .quantity {
          position: absolute;
          right: -10px;
          top: -10px;
          width: 16px;
          height: 16px;
          background-color: $black;
          color: #ffffff;
          font-family: $mukta;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
        }
      }
      
      .order-info {
        display: flex;
        justify-content: space-between;
        color: $black;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        width: 70%;
      }
    }
    
    .subtotal-wrapper {
      padding-top: 14px;
      border-top: 1px solid #d3d3d3;
      padding-bottom: 14px;
      
      .subtotal {
        color: #d3d3d3;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    
    .total {
      padding-top: 14px;
      border-top: 1px solid #d3d3d3;
      color: $black;
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    
  }
}


@include max-medium-screen {
  .checkout-page-wrapper .checkout-page-row {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .checkout-page-wrapper .order-summary {
    margin-bottom: 50px;
  }
  
  .checkout-page-wrapper .order-summary .order-item .order-info {
    width: 90%;
  }
  
  .checkout-page-wrapper .checkout-wizard-wrapper {
    padding-right: 0;
  }
}