.faqs-page-wrapper {
  padding-top: 77px;
  
  .left-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	
	.page-info {
	  .page-title {
		font-family: $futura;
		font-size: 34px;
		font-weight: 700;
		line-height: 40px;
	  }
	  
	  .page-text {
		font-family: $mukta;
		font-size: 16px;
		font-weight: 600;
		line-height: 17px;
		color: #7b7c7a;
		margin-top: 20px;
		max-width: 360px;
	  }
	}
	
	.page-contact {
	  margin-top: 50px;
	  .call-us {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		
		.title {
		  font-family: $mukta;
		  font-size: 16px;
		  font-weight: 800;
		  letter-spacing: 0.64px;
		  line-height: 19px;
		  text-transform: uppercase;
		  color: $oz-black;
		}
		
		.phone {
		  margin-top: 6px;
		  font-family: $mukta;
		  font-size: 16px;
		  font-weight: 800;
		  letter-spacing: 0.64px;
		  line-height: 19px;
		  color: $oz-black;
		  
		  i {
			margin-right: 6px;
			color: $oz-secondary;
		  }
		}
	  }
	}
  }
  
  .right-column{
	.question-wrapper{
	  border: 1px solid $oz-black;
	  border-radius: 6px;
	  margin-bottom: 24px;
	  
	  &.toggled{
		.question-head{
		  color: $oz-primary;
		}
	  }
	  .question-head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		min-height: 64px;
		padding: 18px 32px;
		transition: color .2s ease-out;
		
		i{
		  right: 32px;
		}
	  }
	  .question-body{
		padding: 18px 32px;
		padding-top: 0;
	  }
	}
  }
}