.home-page-wrapper {
  
  .section-name {
    font-family: $mukta;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 19px;
    text-transform: uppercase;
  }
  
  section.hero {
    margin-top: 120px;
    
    .container {
      position: relative;
    }
    
    .hero-image {
      height: auto;
      min-height: 400px;
      position: relative;
      z-index: 5;
      margin-bottom: 30px;
    }
    
    .title {
      position: absolute;
      right: 0;
      z-index: 1;
      @include min-medium-screen {
        right: 100/12*0.125%;
      }
      
      span {
        font-family: $futura;
        font-size: 140px;
        font-weight: 700;
        letter-spacing: -5.6px;
        line-height: 164px;
        text-transform: uppercase;
        display: block;
        position: relative;
        
        &:first-child {
          right: 50%;
        }
      }
    }
    
    .social-links {
      position: absolute;
      top: 33%;
      right: 96%;
      transform-origin: right bottom;
      transform: rotate(-90deg) translate(50%, 50%);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      width: 400px;
      z-index: 10;
      
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $mukta;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        opacity: 0.7;
        margin-bottom: 10px;
        
        &:hover {
          .icon {
            transform: rotate(360deg);
          }
        }
      }
      
      .icon {
        @include square(14px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        border-radius: 50%;
        margin-right: 6px;
        transition: transform 400ms;
      }
      
    }
    
    .divider {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 72px;
    }
    
    @include max-large-screen {
      .title {
        span {
          font-size: 125px;
        }
      }
    }
    @include max-medium-screen {
      .title {
        span {
          font-size: 100px;
          line-height: 105px;
        }
      }
    }
    @include max-small-screen {
      .title {
        position: relative;
        order: -1;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        width: 95%;
        flex-basis: 95%;
        margin-left: auto;
        text-align: center;
        
        span {
          right: auto !important;
        }
      }
      .social-links {
        top: 38%;
        transform: rotate(-90deg) translate(50%, 50%);
      }
    }
    @include max-x-small-screen {
      .title {
        span {
          font-size: 75px;
          line-height: 80px;
          letter-spacing: 2px;
        }
      }
      .social-links {
        right: 90%;
      }
    }
    @include xx-small-screen {
      .title {
        @include marginX(auto);
        
        span {
          font-size: 55px;
          line-height: 60px;
        }
      }
      .social-links {
        right: 90%;
        top: auto;
        bottom: 20px;
        transform: rotate(-90deg) translate(100%, 50%);
        
      }
    }
    
    
  }
  
  section.who-we-r {
    position: relative;
    
    .divider {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 72px;
      z-index: 3;
    }
    
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      
      img {
        object-fit: cover;
      }
      
      .filter {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: .86;
      }
    }
    
    .container {
      position: relative;
      z-index: 2;
    }
    
    .row {
      @include paddingY(135px);
    }
    
    .title, .subtitle {
      font-family: $futura;
      font-size: 50px;
      font-weight: 700;
      line-height: 59px;
    }
    
    .description {
      font-family: $mukta;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      @include max-medium-screen {
        margin-top: 50px;
      }
    }
    
    @include xx-small-screen {
      .title, .subtitle {
        font-size: 33px;
        line-height: 40px;
      }
    }
  }
  
  section.why-cans {
    .row:first-child {
      @include paddingY(150px);
    }
    
    .why {
      margin-bottom: 18px;
    }
    
    .reason {
      position: relative;
      margin-top: 16px;
      
      &:not(:first-child) {
        margin-top: 30px;
      }
      
      .icon {
        position: absolute;
        top: 0;
        right: 100%;
        width: 19%;
        max-width: 73px;
        height: auto;
        object-position: top;
        @include min-large-screen {
          margin-right: calc(16px + 6%) !important;
        }
      }
      
      .title {
        font-family: $mukta;
        font-size: 24px;
        font-weight: 800;
        line-height: 30px;
      }
      
      .description {
        margin-top: 10px;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
      }
    }
    
  }
  
  section.testimonials {
    position: relative;
    
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      
      img {
        object-fit: cover;
      }
      
      .filter {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: .5;
      }
    }
    
    .container {
      position: relative;
      z-index: 2;
    }
    
    .row {
      @include paddingY(68px, 200px);
    }
    
    .section-name {
      margin-bottom: 30px;
    }
    
    .title {
      font-family: $futura;
      font-size: 50px;
      font-weight: 700;
      line-height: 59px;
      margin-bottom: 34px;
      max-width: 370px;
    }
    
    .testimonials-slider {
      $slider-gutter: 64px;
      position: relative;
      
      .slick-track {
        padding-top: 40px;
      }
      
      .slick-list {
        @include marginX(-$slider-gutter);
        
      }
      
      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include marginX(#{$slider-gutter + 5px});
        @include square(36px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 50%;
        font-size: 30px;
        z-index: 1;
        cursor: pointer;
        transition: opacity 400ms, color 400ms;
        
        &:before {
          transition: transform 400ms;
        }
        
        &:hover {
          @extend .oz99-primary-color;
        }
        
        &.oz-prev-arrow {
          right: 100%;
          
          &:hover:before {
            transform: translateX(-30%);
          }
        }
        
        &.oz-next-arrow {
          left: 100%;
          
          &:hover:before {
            transform: translateX(30%);
          }
        }
        
        &.slick-disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
      
      .testimonial {
        position: relative;
        background-color: #fff;
        padding: 37px 24px 50px;
        @include marginX($slider-gutter);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        &:nth-child(2n+1) {
          top: -40px;
        }
      }
      
      @include max-large-screen {
        $slider-gutter: 40px;
        .slick-list {
          @include marginX(-$slider-gutter);
          
        }
        .slick-arrow {
          @include marginX(#{$slider-gutter + 5px});
        }
        .testimonial {
          @include marginX($slider-gutter);
        }
      }
      @include max-small-screen {
        $slider-gutter: 25px;
        .slick-list {
          @include marginX(-$slider-gutter);
          
        }
        .slick-arrow {
          @include marginX(#{$slider-gutter + 5px});
        }
        .testimonial {
          @include marginX($slider-gutter);
        }
      }
    }
    
    
    .double-quotes {
      font-family: $mukta;
      font-size: 100px;
      font-weight: 700;
      line-height: 103px;
    }
    
    .text {
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      opacity: .75;
    }
    
    .author {
      margin-left: 40px;
      margin-top: auto;
    }
    
    .name {
      @include marginY(40px, 5px);
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      position: relative;
      
      &:before {
        @extend .oz99-secondary-background-color;
        content: '';
        width: 32px;
        height: 1px;
        margin-right: 8px;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
    .location {
      font-family: $mukta;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
    
  }
  
  
  section.product-big-slider {
  
  }
  
  section.instagram {
    @include marginY(120px);
    
    .photo {
      position: relative;
      
      &:hover {
        .filter {
          opacity: 1;
        }
      }
    }
    
    .filter {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 400ms;
      z-index: 1;
      
      .overlay {
        width: 100%;
        height: 100%;
        opacity: .85;
      }
      
      i {
        @include square(56px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        border-radius: 50%;
      }
    }
  }
  
}