.shop-page-wrapper {
  padding-top: 54px;
  hr{
    @include marginY(24px,18px);
  }
  
  .filter {
    .title {
      font-family: $mukta;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.64px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    
    .filter-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      @include marginX(-6px);
      @include max-small-screen {
        justify-content: flex-start;
      }
      
      .btn-container {
        flex: 0 1 auto;
        justify-content: center;
        align-items: center;
        width: 50px;
        //margin-bottom: 12px;
        //@include marginX(6px);
        margin: 6px;
      }
      
      button {
        @include paddingY(calc(80% - #{24/3*1px}), 0);
        width: 100%;
        font-size: 10px;
        letter-spacing: 0.28px;
        line-height: 14px;
        
        &.icon {
          @include paddingY(calc(100% - #{24/3*1px}), 0);
          background: none;
          border: none;
        }
      }
    }
    
  }
  
  
  .product {
    margin-bottom: 100px;
  }
  
  .results-number {
    opacity: 0.5;
    font-family: $mukta;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .type {
    font-family: $mukta;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  
  .name {
    font-family: $mukta;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .photo {
    padding-top: 58.8%;
    position: relative;
    margin-bottom: 20px;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .number-selector {
      flex: 0 0 auto;
      margin-right: 24px;
    }
    
    .add-to-cart-btn {
      flex: 1 1 auto;
      width: 100%;
      @include max-medium-screen {
        padding: 12px;
        font-size: 12px;
      }
    }
    
  }
  
  .apply {
    @include marginY(20px);
    width: 100%;
  }
  
  .reset{
    font-family: $mukta;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0 0 1px;
    cursor: pointer;
    border: none;
    background: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    opacity: .5;
  }
  
  .filters-widget {
    @extend .oz99-main-background-color;
    
    .close {
      display: none;
      background: none;
      border: none;
      padding: 0;
      margin-left: 20px;
      font-size: 40px;
      &:hover{
        @extend .oz99-primary-color;
      }
    }
    +.open-filters{
      font-family: $mukta;
      font-size: 34px;
      font-weight: 800;
      letter-spacing: 0.64px;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 0 1px;
      cursor: pointer;
      border: none;
      background: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      opacity: .5;
      margin: 0 auto 30px;
      display: none;
    }
  }
  
  @include max-small-screen {
    .filters-widget {
      padding: 40px 30px;
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      width: 100vw;
      height: 100vh;
      z-index: 999999;
      display: none;
      
      .close {
        display: block;
      }
      + .open-filters{
        display: table;
      }
    }
    .apply{
      width: auto;
      margin-left: auto;
    }
   
  }
  
}