.single-product-page-wrapper {
  padding-top: 50px;
  
  hr {
    @include marginY(68px, 10px);
  }
  
  section.product-main {
    .slick-slide > div {
      padding: 85.7% 0 0;
      position: relative;
      height: 0;
      
      .photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      
      button {
        display: none;
      }
      
      li {
        @extend .oz99-black-background-color;
        width: 4px;
        height: 4px;
        opacity: 0.4;
        display: block;
        cursor: pointer;
        
        &:not(:last-child) {
          margin-right: 12px;
        }
        
        &.slick-active {
          opacity: 1;
        }
      }
    }
    
  }
  
  section.product-details {
    @include marginY(80px);
    
    .title {
      @include marginY(45px, 15px);
      font-family: $mukta;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.64px;
      line-height: 19px;
      text-transform: uppercase;
    }
    
    .content {
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
    }
  }
  
  section.reviews {
    .review {
      @include marginY(60px);
    }
    
    .section-header {
      font-family: $futura;
      font-size: 34px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 17px;
    }
    
    .title {
      font-family: $mukta;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.64px;
      line-height: 19px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    
    .rating {
      font-size: 14px;
      margin-bottom: 24px;
      
      i:not(:last-child) {
        margin-right: 3px;
      }
      
      span {
        margin-left: 10px;
        opacity: 0.5;
        font-family: $mukta;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;
      }
    }
    
    .review-body {
      opacity: .75;
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      margin-bottom: 20px;
    }
    
    .author-details {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: $mukta;
      font-size: 16px;
      font-weight: 600;
      line-height: 17px;
      
      > div {
        margin-left: 5px;
      }
      
      &:before {
        @extend .oz99-secondary-background-color;
        content: '';
        margin-right: 5px;
        width: 32px;
        height: 1px;
      }
    }
    
    .location, .date {
      font-weight: 400;
    }
  }
  
  
  section.product-big-slider {
    @include marginY(60px, 130px);
    
    .section-header {
      font-family: $futura;
      font-size: 34px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 15px;
    }
    
    img {
      height: auto;
    }
    
  }
  
}