.thanks-popup-page-wrapper {
  .thanks-popup-2 {
    width: 765px;
    height: 479px;
    box-shadow: 0 0 24px rgba(116, 116, 116, 0.09);
    margin: 108px auto auto;
    @media screen and (max-width: 991px) {
      width: 100% !important;
    }
    @media screen and (max-width: 331px) {
      height: auto;
      padding-bottom: 50px;
    }
    
    .content-popup {
      text-align: center;
      padding-top: 61px;
      
      img {
        width: auto;
        height: auto;
        margin: auto auto 22px;
      }
      
      .thanks-logo, .thank-you {
        font-family: $mukta;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 36px;
        @media screen and (max-width: 771px) {
          font-size: 30px;
        }
        
      }
      
      .your-order, .your-message {
        font-family: $mukta;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin: auto;
        width: 49%;
        margin-bottom: 39px;
        letter-spacing: 0.7px;
        @media screen and (max-width: 771px) {
          width: 70%;
        }
      }
      
      
      .continue, .continue-shoping {
        width: 43%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        outline: none;
        cursor: pointer;
        height: 45px;
        font-family: $mukta;
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
          width: auto !important;
          padding-left: 20px;
          padding-right: 20px;
        }
        
        i {
          font-size: 33px;
          margin-left: 13px;
          transform: translateX(0px);
        }
      }
      
    }
  }
  
  .thanks-popup-1 {
    width: 58.2%;
    
    .content-popup {
      .your-message {
        width: 65%;
      }
    }
  }
}