.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  .text {
    flex: 1 0 auto;
    @include paddingX(45px);
  }
  
  &:before, &:after {
    content: '';
    height: 2px;
    width: 50%;
    flex: 1 1 50%;
  }
  
  &.thick {
    &:before, &:after {
      height: 5px;
    }
  }
}

.main-details {
  
  .price {
    @include marginY(6px);
    font-family: $futura;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
  }
  
  .name {
    font-family: $futura;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 22px;
  }
  
  .type {
    font-family: $mukta;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    
    img {
      display: block;
      @include square(56px);
      margin-left: 8px;
    }
  }
  
  .description {
    font-family: $mukta;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 16px;
  }
  
  .size {
    font-family: $mukta;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  .add-to-cart {
    @include marginY(40px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .number-selector {
      flex: 0 0 auto;
      margin-right: 24px;
    }
    
    .add-to-cart-btn {
      flex: 0 1 auto;
      //width: 100%;
    }
  }
}


section.product-big-slider {
  position: relative;
  @include marginY(60px, 130px);
  
  .section-header {
    font-family: $futura;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 80px;
  }
  
  .container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    
    > .row {
      position: relative;
    }
  }
  
  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    img {
      height: auto;
      width: 100%;
    }
  }
  
  .middle-image-container {
    position: relative;
    width: 100%;
    padding-top: 129.4%;
    height: 0;
    
    .middle-image {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      //opacity: 0;
      &.hidden {
        opacity: 0 !important;
      }
      
      &.active {
        visibility: visible !important;
        opacity: 1 !important;
      }
    }
  }
  
  .left-slide {
    left: 0;
    transform: translate(-100%, -50%);
  }
  
  .right-slide {
    left: 100%;
    transform: translate(0, -50%);
  }
  
  .left-slide, .right-slide {
    position: absolute;
    width: 11%;
    top: 50%;
    cursor: pointer;
    //opacity: 0;
    &.hidden {
      opacity: 0 !important;
    }
    
    &.active {
      visibility: visible !important;
      opacity: .5 !important;
    }
  }
  
  @include min-medium-screen {
    .changing-position {
      position: static;
      min-height: 460px;
      display: flex;
    }
    
  }
  
  @include max-small-screen {
    .left-slide, .right-slide {
      width: 20%;
    }
    .left-slide {
      left: 0;
      transform: translate(0, -50%);
    }
    .right-slide {
      left: 100%;
      transform: translate(-100%, -50%);
    }
    
    .photo {
      width: 60%;
      margin: 0 auto;
    }
    .middle-image-container {
      position: static;
      
      .middle-image {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
      }
    }
  }
  

  .main-details:not(:first-child) {
    display: none;
  }
  
  .main-details .description{
    max-width: 470px;
  }
}


//.number-selector>.plus{+}+input:number[value=1]+.minus{–}
.number-selector {
  $icon-size: 40px;
  @extend .oz99-black-color;
  font-family: $mukta;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  
  input[type=number] {
    @extend .oz99-primary-border-color;
    @include square($icon-size);
    min-height: 40px;
    font-size: 18px;
    border-radius: 0;
    background: none;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  .minus, .plus {
    @include marginY(10px);
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    &:active {
      @extend .oz99-primary-color;
    }
  }
  
  .minus {
    top: 100%;
  }
  
  .plus {
    bottom: 100%;
  }
  
  
}

.stars {
  i {
    font-size: 11px;
    
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29%;
  
  .profile-img-container {
    padding-top: 21.7%;
    border-radius: 50%;
    position: relative;
    flex-basis: 21.5%;
    width: 21.5%;
    
    img {
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  
  .name {
    flex-basis: 68.5%;
    width: 68.5%;
    
    h4 {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
    }
    
    .stars {
      font-size: 12px;
    }
  }
}

.select2 {
  border-radius: 6px;
  border: 1px solid #a5a6a5;
  font-family: Mukta, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  padding-right: 11px;
  padding-left: 16px;
  background: transparent;
  cursor: pointer;
  
  .selection {
    width: 100%;
  }
  
  .select2-selection.select2-selection--single {
    display: flex;
    justify-content: space-between;
    min-height: 56px;
    align-items: center;
    
    span.select2-selection__arrow {
      color: #a5a5a4;
      
      .select2-separator {
        margin-right: 11px;
      }
    }
  }
}


div {
  &.toggled {
    > .toggleable-slide-up-header {
      > .fa-chevron-circle-up {
        transform: scaleY(1);
      }
      
      > .fa-plus {
        opacity: 0;
      }
      
      > .fa-minus {
        opacity: 1;
      }
    }
  }
  
  > .toggleable-slide-up-header {
    > .fa-plus {
      transition: all 400ms;
      opacity: 1;
    }
    
    > .fa-minus {
      transition: all 400ms;
      opacity: 0;
    }
    
    > .fa-chevron-circle-up {
      transition: all 400ms;
      transform: scaleY(-1);
    }
  }
}

.toggleable-slide-up-header {
  position: relative;
  
  .fa-plus, .fa-minus {
    position: absolute;
  }
  
  i + i + h4 {
    margin-left: 50px !important;
  }
}

.oz-checkbox-group {
  
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  
  input {
    display: none;
    
    + label {
      user-select: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      opacity: .5;
      
      &:before {
        margin-right: 8px;
        @extend .oz99-secondary-color;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 300;
        font-size: 19px;
        content: '';
      }
    }
    
    &:checked + label {
      opacity: 1;
      
      &:before {
        content: '';
      }
    }
    
  }
}

.oz-radio-group {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  
  input {
    display: none;
    
    + label {
      user-select: none;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      opacity: .5;
      
      &:before {
        content: '';
        @extend .oz99-secondary-border-color;
        @include square(16px);
        padding: 2px;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        margin-right: 8px;
        background-clip: content-box;
      }
    }
    
    &:checked + label {
      opacity: 1;
      
      &:before {
        @extend .oz99-secondary-background-color;
      }
    }
    
  }
}
