* {
  outline: none !important;
  box-sizing: border-box;
}

html {
  font-family: $mukta;
}

body {
  @extend .oz99-main-background-color;
  overflow-x: hidden;
}

hr{
  @extend .oz99-black-background-color;
  height: 1px;
  opacity: 0.5;
  box-shadow: none;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  
  &:not(.no-zoom) {
    @extend %hover-zoom;
  }
}

del{
  @extend .oz99-red-color;
  margin-right: 5px;
}


.stock {
  margin-bottom: 20px;
  font-family: $mukta;
  &.in-stock{
    @extend .oz99-secondary-color
  }
  &.low-in-stock{
    @extend .oz99-primary-color
  }
  &.out-of-stock{
    @extend .oz99-red-color
  }
}


.overflow-hidden {
  overflow: hidden;
}

.iv-wp-animating{
  transition: none !important;
}

a {
  @extend .oz99-primary-color;
  text-decoration: none;
}

span.highlight {
  @extend .oz99-primary-color;
}

button {
  @extend .oz99-secondary-color, .oz99-secondary-border-color;
  display: block;
  padding: 17px 20px;
  border-radius: 4px;
  font-family: $mukta;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.64px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 400ms;
  cursor: pointer;
  position: relative;
  background: transparent;
  
  &:not(.icon) {
    border: 2px solid;
  }
  
  span, img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &:hover, &.solid, &.active {
    @extend .oz99-off-white-color, .oz99-secondary-background-color, .oz99-secondary-border-color;
  }
}

ul{
  list-style: none;
}

div:not(.toggled) > .toggleable-slide-up-body {
  display: none;
}



h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}


.hover-arrow {
  .fa-long-arrow-right {
    transition: all 400ms;
  }
  
  &:hover {
    .fa-long-arrow-right {
      transform: translateX(30%) rotateX(0.01deg) !important;
    }
  }
}

%hover-zoom {
  transition: transform 400ms;
  
  &:hover {
    transform: scale(1.05) !important;
  }
}

%hover-darken {
  transition: filter 400ms;
  
  &:hover {
    filter: brightness(0.6);
  }
}

.fa-long-arrow-right {
  margin-left: 7px;
  font-size: 16px;
}

//region site color classes
.oz99-primary-color {
  color: $oz-primary;
}

.oz99-primary-border-color {
  border-color: $oz-primary;
}

.oz99-primary-background-color {
  background-color: $oz-primary;
}

.oz99-secondary-color {
  color: $oz-secondary;
}

.oz99-secondary-background-color {
  background-color: $oz-secondary;
}

.oz99-secondary-border-color {
  border-color: $oz-secondary;
}

.oz99-red-color {
  color: $oz-red;
}

.oz99-orange-color {
  color: $oz-orange;
}

.oz99-yellow-color {
  color: $oz-yellow;
}

.oz99-blue-color {
  color: $oz-blue;
}

.oz99-green-color {
  color: $oz-green;
}

.oz99-black-color {
  color: $oz-black;
}

.oz99-black-background-color {
  background-color: $oz-black;
}
.oz99-black-border-color {
  border-color: $oz-black;
}
.oz99-half-black-border-color {
  border-color: transparentize($oz-black,.5);
}

.oz99-off-white-color {
  color: $oz-off-white;
}

.oz99-off-white-fill-color {
  fill: $oz-off-white;
}

.oz99-off-white-background-color {
  background-color: $oz-off-white;
}

.oz99-off-white-border-color {
  border-color: $oz-off-white;
}

.oz99-main-background-color {
  background-color: $oz-main-background-color;
}

//endregion site color classes
