// media screen sizes
$xx-small-screen-max-width: 400.98px;
$x-small-screen-max-width: 575.98px;
$small-screen-max-width: 767.98px;
$medium-screen-max-width: 991.98px;
$large-screen-max-width: 1199.98px;

$x-small-screen-min-width: 401px;
$small-screen-min-width: 576px;
$medium-screen-min-width: 768px;
$large-screen-min-width: 992px;
$x-large-screen-min-width: 1200px;

//Color scheme
$oz-primary: #f7b733;
$oz-secondary: #4abdac;
$oz-red: #e05144;
$oz-orange: #d3531a;
$oz-yellow: #f4dab4;
$oz-blue: #a8deea;
$oz-green: #729747;
$oz-black: #50514f;
$oz-off-white: #fafafa;


$oz-main-background-color: #fafafa;

// font-family
$futura: Poppins, sans-serif;
$mukta: Mukta, sans-serif;

//override bootstrap variables
$grid-gutter-width: 16px;
