footer {
  hr {
    @include marginY(120px, 85px);
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    .link {
      display: block;
      font-family: $mukta;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
      
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  
  .social-links {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    .link {
      &:not(:last-child) {
        margin-right: 16px;
      }
      
      &:hover {
        .icon {
          transform: rotate(360deg);
        }
      }
    }
    
    .icon {
      @include square(14px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 9px;
      border-radius: 50%;
      transition: transform 400ms;
    }
    
  }
  
  form {
    .title {
      font-family: $mukta;
      font-size: 24px;
      font-weight: 800;
      line-height: 30px;
      margin-bottom: 15px;
    }
    
    input {
      border-style: solid;
      border-width: 1px;
      padding: 15px 24px;
      font-family: $mukta;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.64px;
      line-height: 19px;
      margin-bottom: 24px;
      width: 100%;
      background: transparent;
      
      &::-webkit-input-placeholder {
        @extend .oz99-black-color;
        opacity: .5;
      }
    }
    
    button {
      width: 100%;
    }
    
    @include max-small-screen {
      margin-top: 60px;
    }
  }
  
  .copy-rights {
    @include marginY(30px, 80px);
    font-family: $mukta;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    opacity: .5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    i {
      margin-right: 4px;
      font-size: 15px;
    }
  }
}