header {
  .top_bar {
	min-height: 40px;
	font-family: $mukta;
	font-size: 16px;
	font-weight: 600;
	line-height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .bottom_bar {
	background: #fff;
	position: relative;
	
	.header-content {
	  min-height: 96px;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding-right: 152px;
	  
	  .logo-wrapper {
		height: 50px;
	  }
	  
	  .nav-bar {
		.main-nav-links {
		  display: flex;
		  .nav-item {
			font-family: $mukta;
			font-size: 16px;
			font-weight: 700;
			line-height: 19px;
			text-transform: uppercase;
			display: inline-block;
			margin-right: 25px;
			transition: all .2s ease-out;
			padding-top: 5px;
			padding-bottom: 5px;
			
			&:last-of-type{
			  margin-right: 0;
			}
			
			&:hover {
			  border-bottom: 1px solid $oz-primary;
			}
		  }
		}
	  }
	}
	
	.cart-wrapper {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: absolute;
	  height: 100%;
	  width: 152px;
	  right: 0;
	  top: 0;
	  
	  i {
		color: #fff;
		font-size: 22px;
	  }
	  .cart-quantity{
		font-family: $mukta;
		font-size: 16px;
		font-weight: 600;
		line-height: 17px;
		margin-left: 8px;
	  }
	}
  }
}

#loading {
	background: linear-gradient(to top, $oz-secondary 0%, #0592ac 100%);
	height: 100%;
	width: 100%;
	position: fixed;
	margin-top: 0;
	top: 0;
	left: 0;
	z-index: 99999999;
	
	&.clone {
		position: absolute;
		opacity: 0.7;
		display: none;
	}
}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	.object {
		background-color: $oz-red;
		box-shadow: rgba(76, 76, 76, 0.39) 2px 2px 2px;
		width: 8px;
		height: 100px;
		margin-right: 5px;
		-webkit-animation: animate 1s infinite ease-in-out;
		animation: animate 1s infinite ease-in-out;
		float: left;
		transform: scaleY(0);
	}
	
	.object:last-child {
		margin-right: 0;
	}
	
	.object:nth-child(2n) {
		@include max-x-small-screen {
			display: none;
		}
	}
	
	@for $i from 1 through 11 {
		.object:nth-child(#{$i}) {
			-webkit-animation-delay: #{$i + '00'}ms;
			animation-delay: #{$i + '00'}ms;
		}
	}
	@for $i from 12 through 21 {
		.object:nth-child(#{$i}) {
			-webkit-animation-delay: #{(22 - $i) + '00'}ms;
			animation-delay: #{(22 - $i) + '00'}ms;
		}
	}
	@keyframes animate {
		50% {
			-ms-transform: scaleY(1);
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
			background-color: $oz-primary;
		}
	}
}

.navbar-collapse-wrapper {
  cursor: pointer;
  z-index: 9;
  height: 44.7px;
  position: absolute;
  right: 190px;
  top: 50%;
  transform: translateY(-50%);
  &.open {
	.navbar-collapse-toggler {
	  span:nth-child(1) {
		top: 8px;
		width: 0%;
		left: 50%;
	  }
	  
	  span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	  }
	  
	  span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	  }
	  
	  span:nth-child(4) {
		top: 8px;
		width: 0%;
		left: 50%;
	  }
	  
	  span{
		background: #fff;
	  }
	}
  }
  
  
  .navbar-collapse-toggler {
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	width: 23px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	
	/* Icon 3 */
	
	span:nth-child(1) {
	  top: 0px;
	}
	
	span:nth-child(2), span:nth-child(3) {
	  top: 8px;
	}
	
	span:nth-child(4) {
	  top: 16px;
	}
	
	
	span {
	  display: block;
	  position: absolute;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	  
	  width: 23px;
	  height: 4px;
	  background: $oz-primary;
	  margin-bottom: 4px;
	  border-radius: 2px;
	  
	  &:last-of-type {
		margin-bottom: 0;
	  }
	}
  }
}

@include max-medium-screen {
  .navbar-collapse {
	width: 300px;
	left: 100%;
	top: 0;
	height: 100%;
	background: $oz-primary;
	position: fixed;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	transition: transform 400ms;
	z-index: 9;
	
	&.show {
	  transform: translateX(-100%);
	}
	
	.okanagan-drop-down{
	  position: relative!important;
	}
 
	.main-nav-links {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 40%;
	  transform: translateY(-50%);
	  .nav-item {
		margin: 10px 0 !important;
		font-size: 20px!important;
		text-align: center;
		
		&:hover{
		  border-bottom:none!important;
		}
		a {
		  color: #fff;
		  transition: color .4s ease-out;
		  &:hover {
			color: #50514f;
		  }
		}
	  }
	}
  }
}
