a,div{
    font-family: Mukta, sans-serif !important;
}
.sidebar-title span{
color:#4abdac;
font-size: 16px;
font-weight: 800;
letter-spacing: 0.64px;
text-transform: uppercase;
}

.sidebar-price{
    width: 56px;
height: 48px;
border-radius: 4px;
border: 1px solid #4abdac;
display: inline-block;
text-align: center;

}
.sidebar-price span{
    /* Style for "$39.99" */
color: var(--black);
font-family: Mukta, sans-serif;
font-size: 12px;
font-weight: 800;
letter-spacing: 0.48px;
line-height: 45px;
}
.divider{
    border-bottom: 1px #cfcfcf solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 192px;
}
.sidebar-title{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.active, .sidebar-price:hover{
  color:white;
  background-color:#4abdac;
}
.type-icons{
  width: 48px;
height: 48px;
margin-right: 10px;
}
.checkboxes .container{
  display: block;
}
.clear-filter{
font-size: 16px;
margin-top:10px;
font-weight: 800;
letter-spacing: 0.64px;
text-transform: uppercase;
color: #a5a6a5;
border-bottom: 1px #cfcfcf solid;
width: 113px;
padding-bottom: 4px;
}

.price-attributes-select option{
    width: 56px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #4abdac !important;
}


.prices-filter-sidebar .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color:#a5a5a4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.prices-filter-sidebar .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.prices-filter-sidebar .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid #4abdac;
    border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.prices-filter-sidebar .checkmark:after {
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    display: none;
    font-size: 14px;
    top: -1px;
    color:#4abdac;
}

/* Show the checkmark when checked */
.prices-filter-sidebar .container input:checked ~ .checkmark:after {
    display: block;
}
.prices-filter-sidebar input[type=checkbox]:checked + label{
    color: black !important;
}

/* Style the checkmark/indicator */
.prices-filter-sidebar .container .checkmark:after {
    width: 5px;
    height: 10px;
}

/* HIDE RADIO */
.type-radio-checbox-filter input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.type-radio-checbox-filter input[type=checkbox] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
.type-radio-checbox-filter input[type=checkbox]:checked + img {
    border-bottom: 1px #4abdac solid;
    padding-bottom: 5px;
}
.reset-btn{
    margin-top:-5px;
    color: #a5a6a5;
    border:none !important;
    margin-left: -15px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    cursor: pointer;
}
.reset-btn:hover{
    background-color: transparent;
    color: #a5a6a5;
}
.reset-btn-divider{
    margin-top: -17px;
    margin-bottom: 20px;
    width: 115px;
}
.apply-filter{
    top:50px;
}

.prices-boxes{
    display: inline-flex;
}
.prices-boxes .price-radio-checbox-filter{
    border: 1px #4abdac solid;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.48px;
    width: 56px;
    height: 48px;
    padding: 16px 8px 7px 5px;
    margin-right: 12px;
}
.prices-boxes input[type=checkbox] {
    display: none;
}
.checked{
    background-color: #4abdac !important;
    color:white !important;
}
.price-radio-checbox-filter:hover{
    background-color: #4abdac;
    color:white;
}
.type-radio-checbox-filter{
    padding-right: 17px !important;
}
.types-choises{
    margin-left: 8px;
}
.price-radio-checbox-filter label{
    padding-top: 20px;
    padding-bottom: 20px;
}
.label-active{
    color: black !important;
}
.results-number{
    margin-bottom: 28px !important;
    margin-left: 47px !important;
}
.reset-btn-divider{
    margin-top: -17px;
    margin-bottom: 20px !important;
    width: 115px;
    border-bottom: 2px #cfcfcf solid;
}
.shop-page-wrapper .product .woocommerce-loop-product__link img{
    max-height: 222px !important;
}
@media(max-width:1024px){
    .product .quantity {
        margin-right: 0 !important;
    }
    .ajax_add_to_cart{
        padding: 9px 10px !important;
    }
}

.home-page-wrapper section.why-cans .why{
    margin-left: 65px;
}
.cart-subtotal .shipping-method-heading{
    /* Style for "Compliment" */
    opacity: 0.5 !important;
    color: #50514f !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 17px !important;
    text-transform: none !important;
}
.sub-total-text{
    /* Style for "SUBTOTAL:" */
    color: #50514f !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 60px !important;
}
.subtotal-cart{
    margin-right:190px !important;
    color: #50514f !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 36px !important;
    text-transform: uppercase;
}

.shipping-method-title{
    /* Style for "Shipping:" */
    color: #50514f !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 170px !important;

}
.total-price-cart th{
    /* Style for "Compliment" */
    width: 320px !important;
    height: 24px !important;
    opacity: 0.5 !important;
    color: #50514f !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 17px !important;
    margin-top: 13px;
}
.cart-subtotal th{
    /* Style for "Compliment" */
    width: 320px !important;
    height: 24px !important;
    opacity: 0.5 !important;
    color: #50514f !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 17px !important;
    margin-top: 13px;
}
.cart-total-title{
    margin-left: 12px;
    /* Style for "TOTAL:" */
    color: #f7b733 !important;
    font-family: Mukta, sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}
.shipping-total{
    margin-top:-18px;
}
.cart-page-wrapper .subtotal-checkout .checkout-btn{
    width: 368px !important;
    margin-right: auto;
    margin-left: auto;
    /* Style for "CHECKOUT $" */
    font-family: Mukta, sans-serif !important;
    font-size: 16px !important;
    font-weight: 800 !important;
    letter-spacing: 0.64px !important;
    line-height: 19px !important;
    text-transform: uppercase !important;
    margin-bottom: 78px;
}
.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart label,input,button{
    font-family: Mukta, sans-serif !important;

}
.cart-page-wrapper .subtotal-checkout .checkout-btn:hover{
    color:white !important;
    background-color: #4abdac !important;
    border-color: #4abdac !important;
}

.total-price-cart .woocommerce-Price-amount{
    color: #f7b733 !important;
}
.update-cart{
    float: right !important;
}

.number-selector .minus2, .number-selector .plus2{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.number-selector .plus2{
    bottom:100%;
}
.number-selector .minus2{
    top:100%;
}
.number-selector .plus2:active, .number-selector .minus2:active {
    color: #f7b733;

}
.xcp-btn{
    padding: 14px 20px !important;
    background: transparent !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    cursor: pointer;
    color: #4abdac !important;
    border:2px solid #4abdac !important;
    transition: all 400ms !important;
}
.xcp-btn:hover {
background: #4abdac !important;
    color: white !important;
}
.xoo-cp-pqty input[type=number]{
    width: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    font-size: 18px !important;
    border-radius: 0 !important;
    background: none !important;
    text-align: center !important;
    border-width: 2px !important;
    border-style: solid !important;
    padding: 0 !important;
}
.xoo-cp-pqty input[type=number]{
    border-color: #f7b733 !important;
}
.xoo-cp-pprice{
    font-family: Poppins, sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 23px !important;
}
.xoo-cp-ptitle, .xcp-ptotal{
    font-family: Mukta, sans-serif !important;
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 20px !important;
    margin-bottom: 20px !important;
}
.xoo-cp-btns{

    padding-top: 20px !important;
}

.xoo-cp-success{
    background-color: #00ac9c !important;
    padding: 14px 20px !important;
    color: #fff !important;
    font-family: Montserrat !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
    width: 100% !important;
    text-align: center !important;
}
td.xoo-cp-remove .xoo-cp-remove-pd{
    color: #A9AAA9 !important;
}
.add-to-cart-btn{
    width: 180px !important;
}
.xoo-cp-icon-check{
    margin-left: 70px !important;
}
.added_to_cart{
    margin-left: 20px !important;
    padding: 17px 20px !important;
}
.post-type-archive-product .added_to_cart{

    margin-left: 68px !important;
    margin-right: 5px !important;
}

.checkout-page-wrapper .order-summary .order-item .product-img .quantity{
    width:25px !important;
    height: 25px !important;
}

.checkout-page-wrapper .checkout-wizard-wrapper .wizard-nav .wizard-item.active{
    background-color: transparent;
    color:#50514f !important;
}
.checkout-page-wrapper .checkout-wizard-wrapper .information-step.active{
    background:transparent !important;
}
.checkout-page-wrapper .checkout-wizard-wrapper .input-wrapper label{
    color:#878787 !important;
}

.checkout-page-wrapper #billing_address_2_field label{
    display:none !important;
}
.checkout-page-wrapper #shipping_method{
    margin-left: 137px !important;
}
.checkout-page-wrapper #shipping_method{
    color:#D3D3D3 !important;
}
.checkout-page-wrapper .woocommerce-shipping-totals th{
    color:#D3D3D3 !important;
}
.checkout-page-wrapper .total h4{
    color:#50514f !important;
}
.checkout-page-wrapper input{
    color:#50514f !important;
}
.checkout-page-wrapper .order-item h5{
    color:#50514f !important;
}
.checkout-page-wrapper .order-summary .order-item .product-img .quantity{
    background-color:#50514f !important;
}
.checkout-page-wrapper .wizard-nav:nth-child(1){
    color:#4abdac !important;
}


/* Responsive */

@media (max-width:1024px) {
    .post-type-archive-product .added_to_cart{
        margin-left: 68px !important;
        margin-right: -7px !important;
        right: 25px !important;
        line-height: 0px !important;
        width: 76% !important;
    }
}
@media (max-width: 768px) {
    .number-selector{
        top: 0px !important;
    }
}

/* @media (max-width: 425px) {
    button.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        top: 11px !important;
    }
} */
 @media (max-width: 325px) {
    button.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        top: 11px !important;
    }
}
.xoo-cp-modal .xoo-cp-pqty{
    padding-bottom: 90px !important;
    padding-top: 70px !important;
}

@media (max-width: 320px) {
    .main-details .add-to-cart .add-to-cart-btn{
        top: 12px !important;
    }
    .number-selector{
        top:11px !important;
    }
}
@media (min-width: 425px) {
    .xoo-cp-success .xoo-cp-icon-check{
        margin-left: 0px !important;
    }

    .number-selector{
        top:0px !important;
    }
}
@media (max-width: 768px) {
    .cart-collaterals table.shop_table.shop_table_responsive tr{
        display: table-row !important;
    }
    .cart-page-subtotal-total tr th{
        display: none !important;
    }
    .cart-page-subtotal-total .shipping-method-heading{
        display: none !important;
    }
    .cart-page-wrapper .subtotal-checkout .checkout-btn{
        width:90% !important;
    }
}
@media (max-width: 375px) {
    .cart-page-wrapper .cart-table .cart-item .product-name a{
        text-align: center !important;
    }
}
.add-to-cart-btn{
    width: 220px !important;
}
.add-to-cart-btn .woocommerce-Price-amount{
    left: 170px !important;
}
.main-details .add-to-cart .add-to-cart-btn{
    text-align: left !important;
}
.add-to-cart-btn .woocommerce-Price-currencySymbol{
    left: -12% !important;
}
.pagination-links a, .current{
    color:#4abdac !important;
    font-size: 18px !important;
}
.pagination-links .prev, a:last-child{
    font-weight: 600;
}

.pagination-links{
    float: right;
}
.prev{
    padding-right: 6px !important;
}
.next{
    padding-left: 6px !important;
}
.pagination-links .page-numbers{
    padding-right: 5px !important;
}
footer .social-links .icon{
    width:18px;
    height:18px;
    font-size: 11px !important;
    background-color: #4abdac;

}
#email{
    border-radius:0px !important;
}
.newsletter .title{
    color:#50514f !important;
}

.newsletter .title span{
    color:#f7b733 !important;
}
.product-big-slider .section-header-other span{
    color:#f7b733 !important;
}
.product-big-slider .section-header-other{
    margin-bottom: 40px !important;
}
.single-product-page-wrapper section.product-big-slider{
    margin-top:40px !important;
}
.cart-page-wrapper .cart-table .cart-item .amount{
    color:#50514f !important;
}
.update-cart{
    display:none !important;
}
@media (max-width:375px) {
    .xoo-cp-icon-check {
        margin-left: 40px !important;
    }

    .xoo-cp-content .xoo-cp-icon-check {
        margin-left: 0px !important;
    }
}
@media(max-width:425px) {
    #apply-filter-btn{
        margin-bottom: 50px !important;
    }
    .add-to-cart-btn .woocommerce-Price-amount{
        display: none !important;
    }
    .add-to-cart-btn .xoo-cp-icon-check{
        margin-left:50px !important;
    }
    .main-details .add-to-cart .add-to-cart-btn{
        text-align: center !important;
    }
}


/* END Responsive */

.woocommerce-account .form-title{
        text-align: center;
        margin-top: 30px !important;
}

.woocommerce-account .main-account-wrappper{

            border-top: 5px solid #4abdac;
             padding-top: 52px;
}
.woocommerce-MyAccount-navigation ul{
       display: block !important;
    justify-content: normal !important;
    flex-flow: column !important;
    width: 275px !important;
    float: left;
    border-top: 5px solid #4ABDAC;
    background-color: white !important;
    padding-left:20px !important
}
@media(min-width: 992px){
.woocommerce-MyAccount-content{
        overflow: auto;
    width: calc(100% - 275px) !important;
    padding-left: 35px !important;
    float: right;
    text-align: center !important;
    margin-top:80px !important;
}
}
.woocommerce-MyAccount-navigation ul li a{

    cursor: pointer !important;
    font-size: 19px !important;
    font-weight: 700 !important;
    line-height: 45px !important;
    text-transform: uppercase !important;
    color: #000000 !important;
}

li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard a:before{
        content: '\f625';
            font-family: 'Font Awesome 5 Pro';
        margin-right: 14px;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders a:before{
        content: '\f290';
            font-family: 'Font Awesome 5 Pro';
        margin-right: 14px;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address a:before{
        content: '\f3c5';
  font-family: 'Font Awesome 5 Pro';
        margin-right: 14px;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account a:before{
    content: '\f044';
    font-family: 'Font Awesome 5 Pro';
        margin-right: 14px;

}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account{
    width:120% !important;
}

li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--customer-logout a:before{
        content: '\f2f5';
        font-family: 'Font Awesome 5 Pro';
        margin-right: 14px;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads a::before{
content: '\f019';
font-family: 'Font Awesome 5 Pro';
        margin-right: 14px;
}

.woocommerce-MyAccount-navigation ul li.is-active a{
color:#4abdac !important;
}


@media (max-width: 991px){
.woocommerce-MyAccount-navigation ul {

    display: flex !important;
    justify-content: space-around !important;
    flex-flow: wrap !important;
    padding: 20px !important;
    width:100% !important;
}
}

@media (max-width: 991px){
.woocommerce-MyAccount-content {

width: 120% !important;
    float: none !important;
    padding-left: 0 !important;
    text-align: center !important;

}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account{
    width:40% !important;
}
}
@media(max-width:320px){
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account{
    width:85% !important;
}
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments{
    background-color: transparent !important;
    color:black !important;

}
.woocommerce-Message.woocommerce-Message--info.woocommerce-info a{
    margin-bottom: 20px !important;
    display:inline-block !important;
     background: #fff !important;
    padding: 6px 10px !important;
    margin-right: 10px !important;
    color: #4abdac !important;
    border: 2px solid !important;
    border-radius: 4px !important;
    padding: 15px 25px !important;
}
.woocommerce-Message.woocommerce-Message--info.woocommerce-info button{
    margin:auto;
}

body.woocommerce-orders #my-account-orders-page .woocommerce-info p{
    color: #404a4b;
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
}
table.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table{
border: none !important;
overflow: hidden;
}
.woocommerce-orders-table thead{
border-style:hidden !important;
border-bottom: 5px solid #4abdac !important;
}
th.woocommerce-orders-table__header{
    border:none !important;
}
td.woocommerce-orders-table__cell{
    border:none !important;
    border-bottom: 1px solid #4abdac !important;
}
.woocommerce-form-login__submit{
    margin:10px auto 20px !important;

}
.woocommerce-account p.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide{
    display: block !important;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme{
    display: block !important;
    width:100% !important;
}
.woocommerce-form-login{
    text-align:center !important;
}
.woocommerce-form-login .input-text{
    width:300px !important;
}
.woocommerce-error{
    color:red !important;
}
#my-account-orders-page .addresses{
    text-align: left !important;
}
#my-account-orders-page .addresses a{
    text-align: left !important;
}
#my-account-orders-page .woocommerce-Addresses a{
    display: block;
    padding: 17px 20px;
    border-radius: 4px;
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 19px;
    text-transform: uppercase;
    transition: all 400ms;
    cursor: pointer;
    position: relative;
    background: transparent;
        border: 2px solid;
        color:#4abdac !important;
        width:80px;
        cursor: pointer;
}
.woocommerce-EditAccountForm .woocommerce-form-row--last, .woocommerce-form-row--first {
display: block !important;
}
.woocommerce-EditAccountForm p{
    text-align: left !important;
}
.woocommerce-EditAccountForm legend{
text-align: left !important;
margin-bottom: 20px;
text-transform: uppercase;
}
.woocommerce-EditAccountForm label{
    font-weight: 800;
    text-transform: uppercase
}
/* Rating Stars section */
.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rating:not(:checked) > input {
    position:absolute;
    /* top:-9999px; */
    display: none;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:22px;
    color:#ccc;
    margin-top: 5px;
}
.rating:not(:checked) > label:before {
    content: '\f111';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}
.rating > input:checked ~ label {
    color: #ffc700;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.title-for-comment{
        margin-top: 50px;
}
#commentform label{
display:block !important;
}
#review_form #reply-title{
    color: #3a4046;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    display: block;
}
.single-product-page-wrapper #commentform .comment-form-rating{

    margin-top:30px;
}
.comment-form-rating .rating{
    padding:0px !important;
}
.comment-form-rating #title, #comment{
    width: 100% !important;
}
.single-product-page-wrapper #commentform .title-for-comment{
margin-bottom: 20px !important;
}
.comment-form-rating label{
margin-bottom: 6px;
font-weight: 700;
}
.review .rating{
    float: none;
}
.review .review-body{
    color:#7b7c7a !important;
}
.single-product-page-wrapper #commentform .title-for-comment{
    display:none;
}
#commentform .comment-form-comment label{
    margin-top: 60px !important;
}
.single-product-page-wrapper section.reviews .rating{
    margin-bottom:0px !important;
}
table.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table{
width:auto !important;
}
