/*
Theme Name: Okanagan
*/

/*region Added By Mody*/
/*region Checkout*/
.checkout-page-wrapper .have-coupon {
    display: flex !important;
    position: static !important;
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    padding: 0 !important;
    height: auto !important;
}

.checkout-page-wrapper .checkout-headline {
    margin-top: 0;
}

.checkout-page-wrapper .checkout-headline a {
    text-decoration: none;
}


.checkout-page-wrapper .checkout-table .checkout-item td > a {
    width: 100%;
}

.checkout-page-wrapper .checkout-table .checkout-item .product-name > div {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #4abdac;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.checkout-page-wrapper .checkout-table .checkout-item .product-thumbnail img {
    max-height: 60px;
}

.checkout-page-wrapper .checkout-table .checkout-item td.product-name dl {
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    color: #4abdac;
    margin: 0;
}

.checkout-page-wrapper .checkout-table .checkout-item td.product-name dt {
    display: none;
}

.checkout-page-wrapper .checkout-table .checkout-item td.product-name dd {
    margin: 0;
}

.checkout-page-wrapper .checkout-table .checkout-item td.product-name dd p {
    text-align: left;
    text-transform: none;
}

.checkout-page-wrapper .checkout-table tfoot {
    border-top: 4px solid #f4efeb;
}

.checkout-page-wrapper .checkout-table tfoot tr{
    vertical-align: top;
}
.checkout-page-wrapper .checkout-table tfoot tr:not(:last-of-type) > * {
    border-bottom: 2px solid #f4efeb;
}

.checkout-page-wrapper .checkout-table tfoot tr th {
    text-align: left;
    color: #4abdac;
    font-size: 25px;
}

.checkout-page-wrapper .checkout-table tfoot tr td[colspan] {
    color: #4abdac;
    text-align: left;
    font-size: 18px;
}

.checkout-page-wrapper .checkout-table tfoot tr td a {
    color: #d56969;
    text-decoration: none;
    margin-left: 10px;
}

.checkout-page-wrapper .checkout-table tfoot tr td.checkout-visible {
    display: table-cell !important;
}

.checkout-page-wrapper form .input-wrapper .form-row > label abbr {
    text-decoration: none;
    color: #000;
}

.checkout-page-wrapper form .input-wrapper .form-row > span {
    display: block;
    width: 100%;
}

.checkout-page-wrapper form .input-wrapper .form-row > span input {
    width: 100%;
}

.checkout-page-wrapper form .input-wrapper .form-row > span textarea {
    width: 100%;
    resize: vertical;
    min-height: 70px;
}

.checkout-page-wrapper form #ship-to-different-address {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.checkout-page-wrapper form #ship-to-different-address label {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.checkout-page-wrapper form #ship-to-different-address input {
    display: none;
}

.checkout-page-wrapper form #ship-to-different-address input ~ [class *="-square"] {
    transition: opacity 400ms;
    opacity: 0;
    position: absolute;
    left: 0;
}

.checkout-page-wrapper form #ship-to-different-address input:checked ~ .fa-check-square {
    opacity: 1;
}

.checkout-page-wrapper form #ship-to-different-address input:not(:checked) ~ .fa-square {
    opacity: 1;
}

.checkout-page-wrapper form #ship-to-different-address label span {
    margin-left: 50px;
    width: 100%;
}

.checkout-page-wrapper form .woocommerce-shipping-fields .toggleable-slide-up-header.the-header {
    border-bottom: none;
}

span.select2.select2-container {
    width: 100% !important;
}

.checkout-page-wrapper .place-order {
    margin-top: 30px;
    margin-bottom: 30px;
}
.checkout-page-wrapper label.screen-reader-text:before{
    content: none;
}



.checkout-error p{

}

@media screen and (max-width: 991.98px) {
    .checkout-page-wrapper .checkout-table,
    .checkout-page-wrapper .checkout-table tbody,
    .checkout-page-wrapper .checkout-table tfoot,
    .checkout-page-wrapper .checkout-table tr {
        display: block;
    }
    
    .checkout-page-wrapper .checkout-table .checkout-item .product-name > a {
        width: auto;
    }
    
    .checkout-page-wrapper .checkout-table tfoot {
        border-width: 8px;
    }
    
    .checkout-page-wrapper .checkout-table tfoot tr {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 15px 30px;
    }
    
    .checkout-page-wrapper .checkout-table tfoot tr:not(:last-of-type) {
        border-bottom: 2px solid #f4efeb;
    }
    
    .checkout-page-wrapper .checkout-table tfoot tr > * {
        border: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .checkout-page-wrapper .checkout-table tfoot tr td {
        justify-content: flex-end;
    }
    
    .checkout-page-wrapper .checkout-table tfoot tr td.checkout-visible {
        display: none !important;
    }
    .checkout-page-wrapper .checkout-table tfoot tr td[data-title="Shipping"]:before{
        content: none;
    }
    .checkout-page-wrapper #payment.woocommerce-checkout-payment ul li .payment_box {
        margin-left: 30px;
    }
}

@media screen and (max-width: 767.98px) {
    .checkout-page-wrapper .checkout-steps .checkout-tab .the-body, .checkout-page-wrapper form .woocommerce-shipping-fields .shipping_address, .checkout-page-wrapper #payment.woocommerce-checkout-payment ul {
        padding: 15px 30px 30px;
    }
}
/*endregion Checkout*/

/*region Thank-you*/
.thanks-popup-page-wrapper .thanks-popup-2, .thanks-popup-page-wrapper .thanks-popup-1{
    height: auto;
    padding: 0 !important;
}

.thanks-popup-page-wrapper .thanks-popup-2 .content-popup, .thanks-popup-page-wrapper .thanks-popup-1 .content-popup{
    padding: 60px;
}

.thanks-popup-page-wrapper .thanks-popup-2 .content-popup .continue, .thanks-popup-page-wrapper .thanks-popup-1 .content-popup .continue{
    height: auto;
    margin: 20px auto 0;
    padding: 10px;
}


.thanks-popup-page-wrapper .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details{
    width: 80%;
    margin: 30px auto;
}
.thanks-popup-page-wrapper .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4abdac;
    font-size: 25px;
    text-align: left;
    border-bottom: 1px solid #4abdac;
    padding: 10px;
    
}
.thanks-popup-page-wrapper .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li strong{
    color: #404a4b;
    font-size: 1.1em;
    text-align: right;
    max-width: 50%;
    flex: 1 1 50%;
}

.thanks-popup-page-wrapper table.woocommerce-table--order-details{
    width: 80%;
    margin: 30px auto;
    border: none !important;
}
.thanks-popup-page-wrapper table.woocommerce-table--order-details thead{
    font-size: 20px;
}
.thanks-popup-page-wrapper table.woocommerce-table--order-details.woocommerce-table--order-details.woocommerce-table--order-details th{
    text-align: left;
    height: 50px;
    border: none !important;
}
.thanks-popup-page-wrapper table.woocommerce-table--order-details tr{
    border-bottom: 1px solid #4abdac;
}
.thanks-popup-page-wrapper table.woocommerce-table--order-details thead th+th{
    font-size: 20px;
    text-align: right !important;
}
.thanks-popup-page-wrapper table.woocommerce-table--order-details td{
    text-align: right !important;
    height: 50px;
    border: none !important;
}
.thanks-popup-page-wrapper table.woocommerce-table--order-details tbody td.woocommerce-table__product-name.product-name{
    text-align: left !important;
}


@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 767.98px) {
    
    .thanks-popup-page-wrapper .thanks-popup-2 .content-popup .continue, .thanks-popup-page-wrapper .thanks-popup-1 .content-popup .continue{
        width: 100% !important;
    }
    .thanks-popup-page-wrapper .thanks-popup-2, .thanks-popup-page-wrapper .thanks-popup-1{
        margin-top: 40px;
    }
    .thanks-popup-page-wrapper .thanks-popup-2 .content-popup, .thanks-popup-page-wrapper .thanks-popup-1 .content-popup{
        padding: 60px 15px;
    }
    .thanks-popup-page-wrapper .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li{
        font-size: 17px;
    }
    .thanks-popup-page-wrapper .thanks-popup-2 .content-popup .your-order, .thanks-popup-page-wrapper .thanks-popup-2 .content-popup .your-message, .thanks-popup-page-wrapper .thanks-popup-1 .content-popup .your-order, .thanks-popup-page-wrapper .thanks-popup-1 .content-popup .your-message, .thanks-popup-page-wrapper .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details, .thanks-popup-page-wrapper table.woocommerce-table--order-details{
        width: 100%;
    }
}
/*endregion Thank-you*/

input {
    min-height: 56px;
    border-radius: 6px;
    border: 1px solid #a5a6a5;
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding-right: 16px;
    padding-left: 16px;
    background: transparent;
    color: #000;
}

[class$="-set"] > [class^="col-"], [class*="-set "] > [class^="col-"],
[class$="-set"] > [class*=" col-"], [class*="-set "] > [class*=" col-"] {
    flex: 0 1 auto;
    max-width: none;
}

table {
    border-collapse: collapse
}

/*endregion Added By Mody*/
.woocommerce-form.woocommerce-form-login .lost_password a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #f7b733;
    font-family: Mukta;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}


.cursor-auto{
    cursor: auto !important;
}

.checkout-cart-error{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.checkout-cart-error a{
    color: #f7b733;
    text-decoration: none;
    border: 1px solid #c79f92;
    padding: 10px;
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-cart-error a .fa-long-arrow-right {
    font-size: 27px;
    margin-left: 8px;
    color: #f7b733; }

address{
    color: #404A4B;
    line-height: 30px;
}
a{
    text-decoration: none;
    color:inherit;
}

.home-page-wrapper section.why-love-us .top-criteria-links .criterion h3{
    display: flex;
    align-items: center;
}

section.woocommerce-order-details {
    margin-top: 50px;
}

.home-page-wrapper section.wholesale-inquiry button a{
color: #fff;
font-family: Mukta;
font-size: 26px;
font-weight: 500;
line-height: 26px;
text-transform: uppercase;
background-color: #4abdac;
padding: 8px 25px;
display: flex;
justify-content: center;
align-items: center;
margin-right: auto;
margin-left: auto;
}

.slick-slide{
    outline: none;
}

.overflow-hidden{
  overflow: hidden;
}

.wcppec-checkout-buttons.woo_pp_cart_buttons_div{
    display: none;
}

.home-page-wrapper section.hero .content{
    justify-content: center !important;
    padding-right: 0 !important;
}

@media screen and (max-width: 575.98px){
    
    .home-page-wrapper section.hero .content{
        padding-right: 14px !important;
    }
}

.home-page-wrapper section.hero .content .text-container *{
    text-align: left;
}
.shop-page-wrapper .product-is-easy .product-easy-big-wrapper .easy-wrapper.spoon {
    margin-right: 40px;
}
.shop-page-wrapper .product-is-easy .product-easy-big-wrapper .easy-wrapper.spoon img {
    height: 25px;
}
@media screen and (min-width: 992px){
    .home-page-wrapper section.hero .content .img-container{
        flex-basis: 35%;
    }
    .shop-page-wrapper .product-is-easy .product-easy-big-wrapper .easy-wrapper.spoon{
        margin-right: 120px;
    }
}
@media screen and (max-width: 575.98px){
    .home-page-wrapper section.hero .content .img-container {
        width: 75%;
        margin: 0 auto 20px;
    }
}

.home-page-wrapper section.hero .content .text-container .small-title{
    color: #404A4B;
}
.home-page-wrapper section.wholesale-inquiry button a{
    width: 100%;
}
.home-page-wrapper section.wholesale-inquiry{
    padding: 110px 20px 80px;
}
.home-page-wrapper section.wholesale-inquiry button{
    max-width: 90%;
}
.home-page-wrapper section.wholesale-inquiry h2{
    line-height: 48px;
}



/*region filter on shop page*/
.woof_submit_search_form_container {
    display: flex;
    justify-content: space-between;
}

.woof .widget_price_filter .ui-slider .ui-slider-range,
.woof .widget_price_filter .ui-slider .ui-slider-handle{
    background-color: #4abdac;
}
.icheckbox_minimal-grey, .iradio_minimal-grey{
    border: 1px solid #4abdac;
}
.icheckbox_minimal-grey.checked {
    background-position: -41px -1px;
}

.woof_block_html_items {
    margin-bottom: 20px;
}
.woof_price_search_container.woof_container.woof_price_filter {
    margin-bottom: 50px;
}

.woof_redraw_zone h4 {
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #4abdac;
}

.shop-page-wrapper p.woocommerce-result-count,
.shop-page-wrapper .woocommerce-ordering{
    display: none;
}

.icheckbox_minimal-grey.checked,
.icheckbox_minimal-grey.checked ~ label{
    opacity: 1;
}
.icheckbox_minimal-grey,
.woof label{
    opacity: .7;
}

.product .quantity {
    display: inline-block;
    margin-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
    display: block;
}
h2.woocommerce-loop-product__title {
    font-family: Mukta, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
}

button.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    display: inline;
    padding: 17px 20px;
    width: 76%;
}
a.added_to_cart.wc-forward {
    display: block;
    padding: 17px 20px;
    border-radius: 4px;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 0.64px;
    line-height: 19px;
    text-transform: uppercase;
    transition: all 400ms;
    cursor: pointer;
    position: relative;
    color: #fff;
    background: #51bfaf;
    text-align: center;
}
/*endregion filter on shop page*/

form.checkout_coupon.woocommerce-form-coupon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
}
form.checkout_coupon.woocommerce-form-coupon p{
    margin-bottom: 20px;
    text-align: center;
}

.woocommerce-form-coupon-toggle,.woocommerce-notices-wrapper{
    width: 100%;
}

a.showcoupon{
    width: 100%;
    display: block;
}

.woocommerce-additional-fields{
    margin-top: 20px;
    border: 1px solid #cfcfcf;
    display: flex;
    padding: 0 23px;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
}
.woocommerce-additional-fields .toggleable-slide-up-header{
    cursor: pointer;
    padding: 23px 0;
    width: 100%;
}
.woocommerce-additional-fields .checkout-subtitle{
    margin: 0 !important;
}
.woocommerce-additional-fields textarea{
    min-height: 56px;
    border-radius: 6px;
    border: 1px solid #a5a6a5;
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding-right: 16px;
    padding-left: 16px;
    background: transparent;
    color: #000;
}


