/*region Added By Yasser*/
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.position-relative{
	position: relative;
}

.cart-page-wrapper .woocommerce-shipping-calculator input {
	min-height: 56px;
	border-radius: 6px;
	border: 1px solid #a5a6a5;
	font-family: Mukta, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 17px;
	padding-right: 16px;
	padding-left: 16px;
	background: transparent;
	color: #000;
	width: 100%;
}

.cart-page-wrapper .woocommerce-shipping-calculator .calc_shipping_submit_btn {
	padding: 14px 20px;
	color: #fff;
	background: #009688;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

.cart-page-wrapper .woocommerce-shipping-calculator .form-row {
	margin-bottom: 5px;
}

.cart-page-wrapper .woocommerce-shipping-calculator #calc_shipping_country_field, .cart-page-wrapper .woocommerce-shipping-calculator #calc_shipping_state_field {
	margin-bottom: 10px;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
	padding: 14px 20px;
	color: #fff;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	text-align: center;
	background-color: #BE8D7E;
}

.woocommerce-message {
	background: #00ac9c;
}

.woocommerce-info {
	background: #f7b733;
}

.woocommerce-account header.woocommerce-Address-title.title {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.woocommerce-error {
	background: #ac2200;
}

.cart-page-wrapper .cart-table .cart-item .product-quantity .screen-reader-text {
	display: none;
}

.cart-page-wrapper .cart-table .cart-item td.product-name dl {
	text-align: center;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	color: #4abdac;
	margin: 0;
}

.cart-page-wrapper .cart-table .cart-item td.product-name dt {
	display: none;
}

.cart-page-wrapper .cart-table .cart-item td.product-name dd {
	margin: 0;
}

.cart-page-wrapper .cart-table .cart-item td.product-name dd p {
	text-align: left;
	text-transform: none;
}

.cart-page-wrapper .cart-table .cart-item .product-name a {
	text-align: left;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart {
	border: none;
	border-top: 5px solid #fff;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td {
	padding: 0;
	padding-bottom: 30px;
	padding-top: 30px;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon label {
	font-family: Dosis;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	color: #4abdac;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon button {
	margin-left: 10px;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon input#coupon_code {
	padding: 7px 10px;
	border-color: #4abdac;
	border-width: 1px;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	color: #4abdac;
	margin-left: 10px;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-empty-wrapper {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #181515;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	flex-direction: column;
}

.cart-page-wrapper .coupon {
	display: flex;
	align-items: center;
}

.cart-collaterals table.shop_table.shop_table_responsive tr {
	border-bottom: 1px solid #fff;
	display: flex;
	justify-content: space-between;
	background: #fff;
}

.cart-page-wrapper .cart-page-subtotal-total {
	background: #fff;
	width: 100%;
	padding-top: 20px;
}

.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart .update-cart {
	padding: 14px 20px;
	color: #fff;
	background: #009688;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

.cart-page-wrapper .cart_totals.calculated_shipping {
	background-color: #fff;
}

.cart-page-wrapper .subtotal-checkout .checkout-btn {
	text-decoration: none;
	margin-top: 30px;
	width: 100%;
	font-size: 22px;
	display: block;
	padding: 17px 20px;
	border-radius: 4px;
	font-family: Mukta, sans-serif;
	font-weight: 800;
	letter-spacing: 0.64px;
	line-height: 19px;
	text-transform: uppercase;
	transition: all 400ms;
	cursor: pointer;
	position: relative;
	border: 2px solid #4abdac;
	text-align: center;
	color: #4abdac;
}

.cart_totals {
	padding: 40px;
	background: #fff;
	padding-bottom: 10px;
}

.cart-page-wrapper .cart-page-subtotal-total th {
	color: #404a4b;
	font-family: Dosis;
	font-size: 20px;
	font-weight: 800;
	line-height: 27px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.cart-page-wrapper .cart-page-subtotal-total td {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	color: #4abdac;
	text-align: right;
}

.checkout-page-wrapper #payment.woocommerce-checkout-payment ul li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
	margin-right: 73px!important;
	width: auto;
	margin-top: 50px;
}

.blog-entry-page-wrapper .icons{
	margin-left: 21px;
	display: flex;
}

.blog-entry-page-wrapper .description{
	margin-top: 70px;
}

.checkout-page-wrapper .checkout-table tfoot tr th,
.checkout-page-wrapper .checkout-table tfoot tr td{
	padding: 20px;
	text-transform: uppercase;
	font-family: dosis;
}

/*region shop page*/
.shop-page-wrapper .products-section .product {
	list-style: none;
	padding-top: 70px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shop-page-wrapper .products-section .product .woocommerce-loop-product__link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.shop-page-wrapper .products-section .product .woocommerce-loop-product__link img {
	max-width: 100%;
	margin: auto auto 0;
	height: 380px;
	object-fit: contain;
}

.shop-page-wrapper .products-section .product .woocommerce-loop-product__link .woocommerce-loop-product__title {
	color: #404a4b;
	font-family: Dosis;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 10px;
}

.shop-page-wrapper .products-section .product .woocommerce-loop-product__link .woocommerce-Price-amount {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	color: #4abdac;
	margin-top: 8px;
}

.shop-page-wrapper .products-section .product .add_to_cart_button,
.shop-page-wrapper .products-section .product .product_type_grouped {
	background: transparent;
	border: 1px solid #be8d7e;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #be8d7e;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 25px;
	padding-right: 25px;
	transition: all .5s ease-out;
	margin-top: 20px;
}

.shop-page-wrapper .products-section .product .add_to_cart_button:hover,
.shop-page-wrapper .products-section .product .product_type_grouped:hover {
	background: #404a4b;
	color: #fff;
	border-color: transparent;
}

.shop-page-wrapper span.onsale {
	position: absolute;
	font-size: 20px;
	color: #e51313;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	z-index: 99;
}

ins {
	text-decoration: none;
}

.shop-page-wrapper .products-section .product del {
	color: red;
}

/*region general Okanagan theme classes*/
/*region Buttons*/
.okanagan-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 17px 20px;
	border-radius: 4px;
	font-family: Mukta, sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.64px;
	line-height: 19px;
	text-transform: uppercase;
	transition: all 400ms;
	cursor: pointer;
	position: relative;
}

.okanagan-btn .fa-long-arrow-right{
	font-size: 1.3em;
	margin-left: 20px;
}

.okanagan-btn.dark-w-arrow {
	color: #fff;
	background-color: #4abdac;
}

.variations span.select2.select2-container{
	width: 130% !important;
	min-width: 200px;
}
.variations td.value {
	display: flex;
	align-items: center;
}
.variations label{
	margin-right: 20px;
}
.variations .reset_variations {
	font-size: 20px;
	margin-left: 30px;
	color: #dd0000;
	font-weight: bold;
	text-decoration: underline;
}
.woocommerce-variation-price {
	margin-top: 20px;
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 600;
	line-height: 36px;
	color: #4abdac;
}
.variations tr {
	margin-top: 20px;
	display: flex;
	align-items: center;
}


.woocommerce-grouped-product-list tr {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

td.woocommerce-grouped-product-list-item__label {
	margin-left: 20px;
	margin-right: 20px;
}
td.woocommerce-grouped-product-list-item__label a {
	color: #001dbd;
	font-weight: 500;
}

td.woocommerce-grouped-product-list-item__price span.woocommerce-Price-amount.amount {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	color: #4abdac;
}

.product-actions .quantity{
	margin-top: 20px;
}

.okanagan-btn.light-w-arrow {
	color: #3b4046;
	background-color: #ccc2b5;
}

.okanagan-btn.transparent-w-arrow {
	color: #be8d7e;
	background-color: transparent;
	border: 1px solid #be8d7e;
}

/*endregion Buttons*/

/*region headlines*/
.okanagan-headline {
	font-family: Dosis;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #404a4b;
}

.okanagan-headline.big-one {
	font-size: 36px;
}

.okanagan-headline.medium-one {
	font-size: 26px;
}

.okanagan-headline.small-one {
	font-size: 16px;
}
/*endregion headlines*/

/*region texts*/
.okanagan-text {
	color: #404a4b;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.65px;
}

.okanagan-text.big-one {
	font-size: 36px;
}

.okanagan-text.medium-one {
	font-size: 26px;
}

.okanagan-text.small-one {
	font-size: 16px;
}
/*endregion texts*/

.okanagan-input {
	border: 1px solid #c79f92;
	background: #fff;
	padding-left: 40px;
	padding-right: 20px;
	height: 45px;
	color: #404a4b;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
}
.okanagan-label {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #4abdac;
}

.qty {
	border: 1px solid #c79f92;
	background: #fff;
	color: #404a4b;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 36px;
	width: 100px;
	padding: 0;
	height: auto;
}
label.screen-reader-text{
	-webkit-touch-callout: none!important; /* iOS Safari */
	-webkit-user-select: none!important; /* Safari */
	-khtml-user-select: none!important; /* Konqueror HTML */
	-moz-user-select: none!important; /* Firefox */
	-ms-user-select: none!important; /* Internet Explorer/Edge */
	user-select: none!important; /* Non-prefixed version, currently */
	    display: block;
	pointer-events: none;
    position: relative;
    width: 0;
    height: 0;
    color: transparent;
}

label.screen-reader-text:before {
	content: 'quantity';
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-50% , -50%);
	color: black;
	background: white;
	padding: 3px;
	font-size: 10px;
	border: 1px solid #c79f92;
}


/*region okanagan-dropdown*/
header .nav-bar .nav-item.okanagan-dropdown-parent{
	position: relative;
	overflow: visible;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover a{
	transform: none;
}
header .nav-bar .nav-item.okanagan-dropdown-parent a:before,
header .nav-bar .nav-item.okanagan-dropdown-parent a:after{
	display: none;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li a{
	display: block;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down {
	perspective: 1000px;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li a{
	transform-origin: top left;
	opacity: 0;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li:nth-child(1) a {
	animation-name: menu-1;
	animation-duration: 300ms;
	animation-delay: -150ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li:nth-child(2) a {
	animation-name: menu-1;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li:nth-child(3) a {
	animation-name: menu-1;
	animation-duration: 300ms;
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li:nth-child(4) a {
	animation-name: menu-1;
	animation-duration: 300ms;
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li:nth-child(5) a {
	animation-name: menu-1;
	animation-duration: 300ms;
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
header .nav-bar .nav-item.okanagan-dropdown-parent:hover .okanagan-drop-down li:nth-child(6) a {
	animation-name: menu-1;
	animation-duration: 300ms;
	animation-delay: 600ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@keyframes menu-1 {
	0% {
		opacity: 0;
		transform: rotateZ(90deg);
	}
	70% {
		transform: skewX(10deg);
	}
	100% {
		opacity: 1;
		transform: rotateZ(0deg);
	}
}
header .nav-bar .nav-item.okanagan-dropdown-parent .okanagan-drop-down{
	position: absolute;
	top: 100%;
	color: #fff;
	z-index: 99;
	right: 50%;
	transform: translateX(50%);
	padding-top: 20%;
}
header .nav-bar .nav-item.okanagan-dropdown-parent .okanagan-drop-down ul{
	display: flex;
	flex-direction: column;
}

header .nav-bar .nav-item.okanagan-dropdown-parent .okanagan-drop-down li a {
	color: #fff!important;
	padding: 13px 30px;
	background-color: #4abdac;
	display: block;
	border-bottom: 1px solid #fff;
	display: none;
}
header .nav-bar .nav-item.okanagan-dropdown-parent .okanagan-drop-down li a:hover {
	color: #f7b733!important;
}
/*endregion okanagan-dropdown*/


/*region dashboard*/
.woocommerce-MyAccount-navigation ul{
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 15px;
	background-color: #4abdac;
}
.woocommerce-MyAccount-navigation ul li a{
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-family: Dosis;
	font-size: 15px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	margin-right: 20px;
}
.woocommerce-MyAccount-navigation ul li a:hover{
	color: #f7b733;
}

.woocommerce-account #primary{
	margin-top: 80px;
	margin-bottom: 50px;
}
.woocommerce-account p.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.woocommerce-account .form-title{
	font-size: 30px;
	color: #404a4b;
	margin-bottom: 20px;
}
.woocommerce-account label{
	width: 40%;
}
.woocommerce-account .woocommerce-notices-wrapper {
	margin-bottom: 20px;
}
.woocommerce-account .hello-text{
	font-size: 25px;
	line-height: 50px;
	width: 80%;
}
.woocommerce-account small.woocommerce-password-hint,.woocommerce-account .woocommerce-password-strength.short,.woocommerce-account .woocommerce-password-strength.bad {
	position: absolute;
	bottom: -210%;
	background-color: #dd0000;
	color: #fff;
	padding: 10px;
	width: 60%;
	font-weight: 500;
	right: 0;
}
/*.woocommerce-account .woocommerce-Button{*/
	/*color: #fff;*/
	/*font-family: Dosis;*/
	/*font-size: 1.2em;*/
	/*font-weight: 500;*/
	/*text-transform: uppercase;*/
	/*background-color: #4abdac;*/
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*padding: 14px 20px;*/
	/*cursor: pointer;*/
	/*margin-top: 20px;*/
	/*position: relative;*/
	/*padding-right: 60px;*/
/*}*/

/*.woocommerce-account .woocommerce-Button:after{*/
	/*content:"\f178";*/
	/*font-family: 'Font Awesome 5 Pro';*/
	/*position: absolute;*/
	/*left: 80%;*/
	/*font-size: 1.1em;*/
/*}*/

p.woocommerce-form-row.woocommerce-form-row--first.form-row.form-row-first {
	margin-top: 20px;
}


table.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table {
	width: 100%;
	border: 1px solid #4abdac;
}

tr.woocommerce-orders-table__row.woocommerce-orders-table__row--status-on-hold.order {
	border-top: 1px solid #4abdac;
}

td.woocommerce-orders-table__cell {
	text-align: center;
	padding: 25px;
	border: 1px solid #4abdac;
}
th.woocommerce-orders-table__header {
	text-align: center;
	padding: 20px;
	border: 1px solid #4abdac;
}

.woocommerce-MyAccount-content{
	overflow: auto;
}

a.woocommerce-button.button.view {
	color: #fff;
	font-family: Dosis;
	font-size: 1.2em;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #4abdac;
	padding: 10px 15px;
	cursor: pointer;
}

.woocommerce-Message.woocommerce-Message--info.woocommerce-info a {
	background: #fff;
	padding: 6px 10px;
	margin-right: 10px;
	color: black;
}

p.address-note {
	margin-bottom: 30px;
	font-size: 22px;
}

.u-columns.woocommerce-Addresses.col2-set.addresses {
	display: flex;
}
header.woocommerce-Address-title.title a {
	background: #4abdac;
	color: #fff;
	padding: 7px 14px;
	margin-left: 12px;
	text-transform: uppercase;
}
.shipping-title{
	font-size: 30px;
	margin-bottom: 40px;
}
.woocommerce-address-fields__field-wrapper .woocommerce-input-wrapper, .woocommerce-input-wrapper input,
.woocommerce-MyAccount-content input {
	flex-basis: 40%!important;
	width: 100%;
}
.woocommerce-address-fields__field-wrapper p.form-row,
.woocommerce-MyAccount-content p.form-row {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}
.woocommerce-address-fields .okanagan-btn,
.woocommerce-MyAccount-content .okanagan-btn{
	margin-top: 40px;
}
@media screen and (max-width: 480px) {
	.woocommerce-account p.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
		align-items: baseline;
		flex-direction: column;
	}
	.woocommerce-account label {
		width: auto;
	}
}



.order-cool-info{
	font-size: 25px;
	line-height: 36px;
	margin-bottom: 20px;
	font-weight: 600;
	font-family: Dosis;
}
.order-cool-info mark {
	background: #4abdac;
	color: #fff;
}

.woocommerce-order-details .woocommerce-order-details__title {
	font-size: 36px;
	margin-bottom: 20px;
}

.woocommerce-order-details table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
	text-align: center;
	width: 100%;
	border: 1px solid #4abdac;
	margin-bottom: 20px;
}
.woocommerce-customer-details  section.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses {
	display: flex;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr.woocommerce-table__line-item.order_item,
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot tr{
	border-top: 1px solid #4abdac;
}
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details td,
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details th{
	text-align: center;
	padding: 25px;
	border: 1px solid #4abdac;
}

/*endregion dashboard*/
/*endregion general Okanagan theme classes*/

/*endregion shop page*/
@media screen and (max-width: 1200.98px) {
	header nav .nav-bar{
		flex-basis: 54.5%;
	}
}
@media screen and (max-width: 991.98px) {
	.woocommerce-address-fields__field-wrapper .woocommerce-input-wrapper,
	.woocommerce-MyAccount-content input,
	.woocommerce-input-wrapper input {
		flex-basis: 70%!important;
	}
	.u-columns.woocommerce-Addresses.col2-set.addresses {
		flex-flow: wrap;
	}
	.u-column2.col-2.woocommerce-Address{
		margin-top: 15px;
	}
	form.woocommerce-form.woocommerce-form-login.login {
		margin-bottom: 60px;
	}
	
	header nav .nav-bar{
		flex-basis: 64.5%;
	}
	.cart-page-wrapper .cart-table,
	.cart-page-wrapper .cart-table tbody,
	.cart-page-wrapper .cart-table tfoot,
	.cart-page-wrapper .cart-table tr {
		display: block;
	}
	
	.cart-page-wrapper .cart-table .cart-item .product-quantity .quantity {
		text-align: right;
	}
	
	.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon-wrapper {
		width: 100%;
	}
	
	.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon input#coupon_code {
		font-size: 14px;
	}
	
	.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart .update-cart {
		font-size: 13px;
	}
	
	.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon button {
		font-size: 13px;
	}
	
	.cart-page-wrapper .cart-table .cart-item .product-thumbnail > a {
		width: auto;
		display: block;
		margin: 0 auto;
	}
	
	.cart-page-wrapper .cart-table .cart-item .product-thumbnail img {
		width: 100%;
		max-width: 100%;
	}
	
	.cart-page-wrapper .cart-table tfoot {
		border-width: 8px;
	}
	
	.cart-page-wrapper .cart-table .cart-item td.product-name dl {
		display: none;
	}
	
	.cart-page-wrapper .cart-table tfoot tr {
		display: flex;
		justify-content: space-between;
		text-align: center;
		padding: 15px 30px;
	}
	
	.cart-page-wrapper .cart-table tfoot tr:not(:last-of-type) {
		border-bottom: 2px solid #f4efeb;
	}
	
	.cart-page-wrapper .cart-table tfoot tr > * {
		border: none !important;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.cart-page-wrapper .cart-table tfoot tr td {
		justify-content: flex-end;
	}
}

@media screen and (max-width: 768.98px) {
	.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart .update-cart {
		margin-top: 20px;
	}
	
	.cart-page-wrapper .cart-table .cart-item.add-coupon-and-update-cart td .coupon-wrapper {
		flex-direction: column;
	}
}

@media screen and (max-width:575.98px){
	.woocommerce-address-fields__field-wrapper p.form-row,
	.woocommerce-account .woocommerce-MyAccount-content p.form-row {
		display: flex;
		margin-bottom: 20px;
		flex-flow: column;
		align-items: baseline!important;
	}
	.woocommerce-address-fields__field-wrapper label,
	.woocommerce-account .woocommerce-MyAccount-content label {
		width: 80%;
		margin-bottom: 10px;
	}
	.woocommerce-customer-details section.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses {
		flex-direction: column;
	}
	
	.woocommerce-customer-details section.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses div:first-child{
		margin-bottom: 15px;
	}
}

/*endregion Added By Yasser*/









/*.overflow-hidden{*/
/*	overflow:hidden!important;*/
/*}*/



























